@orbitHeight: 200px;
@orbitWidth: 100%;
@orbitDuration: 5s;
@orbitTransformStyle: preserve-3d;
.orbit {
  padding: 0 0 0 0;
  position:relative;
  margin:  0 0 0 0;
  list-style: none;
  height: 200px;
  width: 100%;
  text-align: center;
  perspective: 600px;
}
.orbit .planet {
  position: absolute;
  left:50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  transform-style: @orbitTransformStyle;
  animation-duration: @orbitDuration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform-origin: center;
}
.orbit .planet:not(.center):hover {
  animation-play-state: paused;
}
.orbit:hover .planet:not(.center):hover {
  transform: scale(1.25);
}

.generatePlanets(@n, @i:1) when (@i <= @n) {
  .orbit .planet[data-orbit-magnitude="@{i}"] {
    animation-name: ~'goAround@{i}';
  }
  .generatePlanets(@n, (@i + 1));
}
.generatePlanets(4);

.orbit .planet.center {
  transform: translateZ(-250px);
  z-index: 1;
}


.orbit(@depth, @width) {
  .generateOrbit(@n, @i:0) when (@i <= @n) {
    @selector: e('@{i}%');
    @{selector} {
        & when (@i <= 25) {
            transform: translateZ((@depth / 2) - ((@depth / 50) * (@i))) translateX(0 + ((@width / 50) * @i));
            z-index: 0;
        }
        & when (@i > 25) and (@i <= 50) {
            transform: translateZ(0 - ((@depth / 50) * (@i - 25))) translateX((@width / 2) - ((@width / 50) * (@i - 25)));
            z-index: 0;
        }
        & when (@i > 50) and (@i <= 75) {
            transform: translateZ((-@depth / 2) + ((@depth / 50) * (@i - 50))) translateX(0 - ((@width / 50) * (@i - 50)));
            z-index: 2;
        }
        & when (@i > 75) and (@i <= 100) {
            transform: translateZ(0 + ((@depth / 50) * (@i - 75))) translateX(-(@width / 2) + ((@width / 50) * (@i - 75)));
            z-index: 2;
        }
    }
    .generateOrbit(@n, (@i + 1));
  }
  .generateOrbit(100);
}

@orbitDepth: 500px;
@orbitWidth: 500px;

.generateOrbits(@n, @i:1) when (@i <= @n) {
  @keyframes ~'goAround@{i}' {
    @depth: (@orbitDepth/@n) * @i;
    @width: (@orbitWidth/@n) * @i;
    .orbit(@orbitDepth, @width);
  }
  .generateOrbits(@n, (@i + 1));
}

.generateOrbits(5);
