doctype
head
  title dev: orbit
  link(rel="stylesheet", href="css/orbit.min.css")
body
  p(style="text-align:center;").
    orbit is a little experiment with CSS keyframes to see if I can make an orbital effect with CSS.
  footer
    ul.orbit(style="margin:0 auto;")
      li.planet.center
        div
          a o
      li.planet(pause-on-hover, data-orbit-width="1", data-orbit-depth="3")
        div
          a r
      li.planet(pause-on-hover, data-orbit-width="2", data-orbit-depth="3")
        div
          a b
      li.planet(pause-on-hover, data-orbit-width="3", data-orbit-depth="3")
        div
          a i
      li.planet(pause-on-hover, data-orbit-width="4", data-orbit-depth="3")
        div
          a t
