doctype
head
  title dev: orbit
  link(rel="stylesheet", href="css/orbit.css")
body
  h1 this is orbit
  p(style="text-align:center;").
    orbit is a little experiment with CSS keyframes to see if I can make an orbital contacts footer.
  footer
    ul.orbit
      li
        div
          a 1
      li
        div
          a 2
      li
        div
          a 3
      li
        div
          a 4
      li
        div
          a 5
