doctype
head
  title dev: orbit
  link(rel="stylesheet", href="css/orbit.css")
body
  h1 this is orbit
  p(style="text-align:center;").
    orbit is a little experiment with CSS keyframes to see if I can make an orbital contacts footer.
  footer
    ul.orbit
      li.planet.center
        div
          a O
      li.planet(data-orbit-magnitude="1")
        div
          a r
      li.planet(data-orbit-magnitude="2")
        div
          a b
      li.planet(data-orbit-magnitude="3")
        div
          a i
      li.planet(data-orbit-magnitude="4")
        div
          a t
